<h1>Welcome#index</h1>
<p>Tushar Sinha</p>
<HTML>
<HEAD>
<TITLE>PROJECT</TITLE>
</HEAD>
<BODY TOPMARGIN="30" LEFTMARGIN="20" BACKGROUND="C:\Documents and Settings\user\Desktop\ice.jpg">
<CENTER><MARQUEE BEHAVIOR="ALTERNATE" BGCOLOR="YELLOW" HEIGHT="70" WIDTH="500"><FONT COLOR="BROWN"
FACE="HELVETICA"><H1>Wonders Of India</H1></FONT></MARQUEE></CENTER>
<BR>
<BR>
<BR>
<H3><FONT COLOR="BLUE" FACE="TIMES NEW ROMAN">With their elaborate superfluities and wonderful architecture, Indian monuments represent one of the most outstanding facets of the multi-faceted Indian culture. An architectural feat in itself, each Indian monument is a remarkably splendid sample of unbelievable artistry, covering a sense of mystery, deception and romance. Be it the marvel in white marble, the spellbinding Taj Mahal; or
 the red stone splendor, the magnificent Red Fort; or the magnificence of temple art of Khajuraho, Konark and Hampi , there is evident the master craftsmanship and elegance, that brings to the forefront the splendor of the bygone era. Monuments are witnesses of India's past; the monuments of India are also the guardian pillars of India's cultural heritage. The monuments of India have become an inspiration for the future generations.</FONT></H3>
<BR>
<BR>
<font face="lucida sans" size="6" color="Maroon"><A NAME="BACK">Eye Striking Beauties of India</A></font>
<font color="GREEN" size="5">
<UL>
<A HREF="#Taj Mahal"><LI TYPE="disc">Taj Mahal</A>
<A HREF="#Khajuraho"><LI TYPE="disc">Khajuraho</A>
<A HREF="#Hampi"><LI TYPE="disc">Hampi</A>
<A HREF="#Nalanda"><LI TYPE="disc">Nalanda</A>
<A HREF="#Gomateshwara"><LI TYPE="disc">Gomateshwara</A>
<A HREF="#Harmandir Sahib"><LI TYPE="disc">Harmandir Sahib</A>
<A HREF="#Konark Sun Temple"><LI TYPE="disc">Konark Sun Temple</A>
</UL>
</FONT>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Taj Mahal">TAJ MAHAL</FONT></A></CENTER>
<HR COLOR="MAROON"><BR>
<BR><P>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">The Taj Mahal,"crown of palaces", pronounced is a white marble mausoleum located on the southern bank of the Yamuna River in the Indian city of Agra. It was commissioned in 1632 by the Mughal emperor Shah Jahan (reigned 1628–1658) to house the tomb of his favorite wife of three, Mumtaz Mahal.</P>
<P>
Construction of the mausoleum was essentially completed in 1643 but work continued on other phases of the project for an additional ten years. The Taj Mahal complex is believed to have been completed in its entirety in 1653 at a cost estimated at the time to be around 32 million Indian rupees, which in 2015 would be valued at around 52.8 billion Indian rupees ($827 million US). The construction project employed around 20,000 artisans under the
 guidance of a board of architects led by Ustad Ahmad Lahauri. The domed marble tomb is part of an integrated complex consisting of gardens and two red-sandstone buildings surrounded by a crenellated wall on three sides.</P>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\TAJ.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<P>
The Taj Mahal is regarded by many as the best example of Mughal architecture and is widely recognized as "the jewel of Muslim art in India". It is one of the world’s most celebrated structures and a symbol of India’s rich history. Designated a UNESCO World Heritage Site in 1983, the Taj Mahal attracts some 3 million visitors a year. On 7 July 2007 it was declared one of the Seven winners of New7Wonders of the World (2000–2007) initiative in Lisbon.</P>
</font>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Khajuraho">KHAJURAHO</A></FONT></CENTER>
<HR COLOR="MAROON"><BR>
<BR>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">
<P>The Khajuraho Group of Monuments is a group of Hindu and Jain temples in Madhya Pradesh, India. About 175 kilometres (109 mi) southeast of Jhansi, they are one of the UNESCO World Heritage Sites in India.The temples are famous for their nagara-style architectural symbolism and their erotic sculptures.</P>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\KHAJ.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<P>Most Khajuraho temples were built between 950 and 1050 CE by the Chandela dynasty.Historical records note that the Khajuraho temple site had 85 temples by 12th century, spread over 20 square kilometers. Of these, only about 20 temples have survived, spread over 6 square kilometers.Of the various surviving temples, the Kandariya Mahadeva Temple is decorated with a profusion of sculptures with intricate details, symbolism and expressiveness of ancient Indian art.</P>

<P>The Khajuraho group of temples were built together but were dedicated to two religions namely Hinduism and Jainism - suggesting a tradition of acceptance and respect for diverse religious views among Hindus and Jains.</P>
</FONT>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Hampi">HAMPI</A></FONT></CENTER>
<HR COLOR="MAROON"><BR>
<BR>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">
<P>Hampi (Hampe) is a village in northern Karnataka, India. It was one of the richest and largest cities in the world during its prime. The name Hampi can also mean "champion". It is located within the ruins of the city of Vijayanagara, the former capital of the Vijayanagara Empire. Predating the city of Vijayanagara, Hampi continues to be an important religious centre, housing the Virupaksha Temple and several other monuments belonging to the old city. The ruins are a UNESCO 
World Heritage Site, listed as the Group of Monuments at Hampi. According to statistics of 2014, Hampi is the most searched historical place in Karnataka on Google.The empire boasted a massive army comprising close to a million men. In around 1500 AD Vijaynagar had about 500,000 inhabitants (supporting 0.1% of the global population during 1440-1540), making it the second largest city in the world after Peking-Beijing and almost thrice the size of Paris.</P>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\HAMPI.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<P>
Hampi traditionally known as Pampa-kshetra, Kishkindha-kshetra or Bhaskara-kshetra is derived from Pampa, which is the old name of the Tungabhadra River on whose southern banks of the city is built.The name "Hampi" is an anglicized version of the Kannada Hampe (derived from Pampa). Over the years, it has also been referred to as Vijayanagara and Virupakshapura (from Virupaksha, the patron deity of the Vijayanagara rulers).</P>
</FONT>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Nalanda">NALANDA</A></FONT></CENTER>
<HR COLOR="MAROON"><BR>
<BR>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">
<P>Nalanda was an acclaimed Mahavihara, a large Buddhist monastery in the ancient kingdom of Magadha (modern-day Bihar) in India. The site is located about 95 kilometres southeast of Patna near the town of Bihar Sharif, and was a centre of learning from the fifth century CE to 1200 CE. Historians often characterize Nalanda as a university.</P>
<P>Nalanda flourished under the patronage of the Gupta Empire in the 5th and 6th centuries and later under Harsha, the emperor of Kannauj.The liberal cultural traditions inherited from the Gupta age resulted in a period of growth and prosperity until the ninth century. The subsequent centuries were a time of gradual decline, a period during which the tantric developments of Buddhism became most pronounced in eastern India under the Pala Empire.</P>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\NALANDA.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<P>At its peak, the school attracted scholars and students from near and far with some travelling all the way from Tibet, China, Korea, and Central Asia. Much of our knowledge of Nalanda comes from the writings of pilgrim monks from East Asia such as Xuanzang and Yijing who travelled to the Mahavihara in the 7th century. Archaeological evidence also notes contact with the Shailendra dynasty of Indonesia, one of whose kings built a monastery in the complex.</P>
</FONT>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Gomateshwara">GOMATESHWARA</A></FONT></CENTER>
<HR COLOR="MAROON"><BR>
<BR>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">
<P>Bahubali was the son of Rishabha (first tirthankara and founder of Jainism).Bahubali is a much revered figure among Jains. After the nonviolent duel with Bharata, his elder brother, Bahubali abandoned his kingdom and clothes to became a Jain monk.Bahubali meditated motionless for a whole year in kayotsarga posture because of which climbers grew around his legs.After one year of meditation, Bahubali attained omniscience (kevala jnana). According to Jain texts, Bahubali attained moksha (liberation from the cycle of births and deaths) at mount Kailasa and became a Siddha (liberated soul).</P>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\GOM.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<P>Bahubali is also called Gommatesh because of the statue dedicated to him. "Gommateshwara" statue, built by the Ganga dynasty minister and commander Chamundaraya, is a 57-foot (17 m) monolith (statue carved from a single piece of rock) and is situated above a hill in Shravanabelagola, in the Hassan district of Karnataka state, India. It was built in around 983 A.D. and is one of the largest free standing statues in the world.On August 5, 2007, the statue was voted by Indians as the first of Seven Wonders of India; 49% of the total votes went in favor of it.</P>
</FONT>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Harmandir Sahib">HARMANDIR SAHIB</A></FONT></CENTER>
<HR COLOR="MAROON"><BR>
<BR>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">
<p>The Harmandir Sahib,also Darbar Sahib and informally referred to as the "Golden Temple",is the holiest Sikh gurdwara located in the city of Amritsar, Punjab, India. The city was founded in 1574 by the fourth Sikh guru, Guru Ram Das.The Harmandir Sahib was designed by the fifth guru, Guru Arjan, who had the cornerstone laid by the Muslim Sufi saint Sai Hazrat Mian Mir on 28 December 1588. Guru Arjan completed the Adi Granth, the holy scripture of Sikhism, in 1604 and installed it in the gurdwara.</p>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\GOLD.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<p>There are four doors to get into the Harmandir Sahib, which symbolise the openness of the Sikhs towards all people and religions.The present-day gurdwara was rebuilt in 1764 by Jassa Singh Ahluwalia with the help of other Sikh Misls. In the early nineteenth century, Maharaja Ranjit Singh secured the Punjab region from outside attack and covered the upper floors of the gurdwara with gold, which gives it its distinctive appearance and its English name.</P>

<p>The Harimandir Sahib is considered holy by Sikhs.The holiest text of Sikhism, the Guru Granth Sahib,is present inside the gurdwara during daytime and the holy book goes for Sukhasan during the night time. Its construction was mainly intended to build a place of worship for men and women from all walks of life and all religions to come and worship God equally.Over 100,000 people visit the holy shrine daily for worship, and also partake in the free community kitchen and meal (Langar) that is a hallmark of all Sikh Gurudwaras.</p>
</FONT>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<CENTER><FONT SIZE="8" COLOR="Maroon" FACE="helvetica"><A NAME="Konark Sun Temple">KONARK SUN TEMPLE</A></FONT></CENTER>
<HR COLOR="MAROON"><BR>
<BR>
<FONT FACE="SYLFAEN" SIZE="3" FACE="BLACK">
<p>Konark is a small town in the Puri district in the state of Odisha, India. It lies on the coast by the Bay of Bengal, 65 kilometers from the capital of the state, Bhubaneswar.It is the site of the 13th-century Sun Temple, also known as the Black Pagoda, built in black granite during the reign of Narasimhadeva-I. The temple is a World Heritage Site.The temple is now mostly in ruins, and a collection of its sculptures is housed in the Sun Temple Museum, which is run by the Archaeological Survey of India.</P>
<p>Konark is also home to an annual dance festival called Konark Dance Festival, held every December, devoted to classical Indian dance forms, including the traditional classical dance of Odisha, Odissi.</P>
<CENTER><IMG SRC="C:\Documents and Settings\user\Desktop\SUN.jpg" HEIGHT="200" WIDTH="200" BORDER="10"></CENTER>
<p>The Sun Temple was built in the 13th century and designed as a gigantic chariot of the Sun God, Surya, with twelve pairs of ornamented wheels pulled by seven horses. Some of the wheels are 3 meters wide. Only six of the seven horse still stand today.The temple fell into disuse after an envoy of Jahangir desecrated the temple in the early 17th century.</p>

<p>The Sun temple belongs to the Kalingan school of Indian temple architecture. The alignment of the Sun Temple is along the East-West direction. The inner sanctum or vimana used to be surmounted by a tower or shikara but it was razed in the 19th century. The audience hall or jagamohana still stands and comprises majority of the ruins. The roof of the dance hall or natmandir has fallen off. It stands at the eastern end of the ruins on a raised platform.</P>
</FONT>
<BR>
<A HREF="#BACK">BACK</A>
<BR>
<BR>
<BR>
<BR>
<TABLE ALIGN="CENTER" WIDTH="150" CELLSPACING="5" CELLPADDING="7" BORDER="5" BORDERCOLOR="MAROON" BGCOLOR="PINK">
<CAPTION><B><I>PLACE SITUATED</CAPTION>
<TR>
<TH>Wonder</TH>
<TH>City</TH>
<TH>State</TH>
</TR>
<TR>
<TD>Taj Mahal</TD>
<TD>Agra</TD>
<TD>Uttar Pradesh</TD>
</TR>
<TR>
<TD>Khajuraho</TD>
<TD>Chhatarpur</TD>
<TD>Madhya Pradesh</TD>
</TR>
<TR>
<TD>Hampi</TD>
<TD>Vijayanagara</TD>
<TD>Karnataka</TD>
</TR>
<TR>
<TD>Nalanda</TD>
<TD>Bihar Sharif</TD>
<TD>Bihar</TD>
</TR>
<TR>
<TD>Gomateshwara</TD>
<TD>Shravanabelagola</TD>
<TD>Karnataka</TD>
</TR>
<TR>
<TD>Harmandir Saheb</TD>
<TD>Amritsar</TD>
<TD>Punjab</TD>
</TR>
<TR>
<TD>Konark Sun Temple</TD>
<TD>Bhubaneswar</TD>
<TD>Odisha</TD>
</TR>
</TABLE>
<PRE>
..........................................................................................................................................................
..........................................................................................................................................................
</PRE>
</BODY>
</HTML>